{% extends "base_template.html" %} {% block content %}
<div class="container-fluid align-items-center rounded-4 vh-100 p-4">
  <div class="bg-info-subtle flex flex-wrap h-100 p-4 gap-2">
    <h2 class="display-2 text-center fw-bold bg-body rounded-4 p-4">{{ course.name }}</h2>
    <div class="d-flex align-items-center gap-3">
      <div class="container-fluid">
        <div class="container-fluid bg-body-tertiary rounded-4  p-4">
            <p class="font-monospace text fs-3">{{ course.lesson }}</p>
        </div>
        <h3 class="display-4 py-2 fw-bold">Professors</h3>
        <ul class="list-group ">
            
          {% for prof_id in course.pids %} 
          {% set professor = professors.filter(pid=prof_id).first() %}
          <li class="list-group-item" aria-current="true">
            <a
              href="{{ url_for('professor', prof_id=professor.pid) }}"
              class="link-underline link-underline-opacity-0"
            >
              <h2>{{ professor.name }}</h2>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="align-self-baseline bg-body p-4 rounded-3" style="width:25vw">
        <p><strong>Course ID:</strong>   01:198:{{ course.cid }}</p>
        <p><strong>Coding:</strong> {% if course.coding %} Yes {% else %} No {% endif %}</p>
        <p><strong>Theory:</strong> {% if course.theory %} Yes {% else %} No {% endif %}</p>
      </div>
    </div>
    <p>Professor IDs: {{ course.pids }}</p>
  </div>
  <!-- Displaying Professor Names -->
  <!-- End Displaying Professor Names -->
  {% endblock %}
</div>
