<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/chatbot.css">
</head>
<body>
    <h1>Courses</h1>
    <ul>
        {% for course in courses %}
        <li>
            <h2>{{ course.name }}</h2>
            <p>Course ID: {{ course.cid }}</p>
            <p>Lesson: {{ course.lesson }}</p>
            <p>Coding: {% if course.coding %} Yes {% else %} No {% endif %}</p>
            <p>Theory: {% if course.theory %} Yes {% else %} No {% endif %}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
