{% extends "base_template.html" %} 
{% block content %}
<div class="container-fluid align-items-center rounded-4 vh-100 p-4">
  <div class="bg-info-subtle d-flex flex-column h-100 p-4">
    <h1 class="mb-4">Match</h1>
    <form method="POST" action="{{ url_for('match') }}">
      <div class="h-25 overflow-auto  ">
      <ul class="list-group mb-3">
        {% for course in courses|sort(attribute='name') %}
        <li class="list-group-item" aria-current="true">
            <label>
                <input type="checkbox" name="courses[]" value="{{ course.cid }}"> {{ course.name }}
            </label>
        </li>
        {% endfor %}
    </ul>
  </div>
      <div class="mb-3">
        <label for="attendance" class="form-label">Attendance</label>
        <select class="form-select" id="attendance" name="attendance">
          <option value="true">Mandatory</option>
          <option value="false">Optional</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Find Professors</button>
    </form>
    <h2 class="mb-3">Matched Professors:</h2>
    <ul class="list-group">
      {% for professor in professors %}
      <li class="list-group-item">
        <a
        href="{{ url_for('professor', prof_id=professor.pid) }}"
        class="link-underline link-underline-opacity-0"
        >
        <h2>{{ professor.name }}</h2>
      </a>
    </li>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
