{% extends "base_template.html" %} 
{% block content %}
<div class="container-fluid align-items-center rounded-4 vh-100 p-4">
  <div class="bg-info-subtle flex flex-wrap h-100 p-4">
    <h1 class="text-center flex flex-fill display-1">Match</h1>
    <form method="POST" action="{{ url_for('match') }}">
      <ul class="list-group">
        {% for course in courses %}
        <li class="list-group-item" aria-current="true">
          <label>
            <input type="checkbox" name="courses[]" value="{{ course.cid }}"> {{ course.name }}
          </label>
        </li>
        {% endfor %}
      </ul>
      <div class="mb-3">
        <label for="attendance" class="form-label">Attendance</label>
        <select class="form-select" id="attendance" name="attendance">
          <option value="true">Mandatory</option>
          <option value="false">Optional</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Find Professors</button>
    </form>
    <h2>Matched Professors:</h2>
    <ul>
      {% for professor in professors %}
        <li>{{ professor.name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
  </div>
</div>
{% endblock %}
