{% extends "base_template.html" %} {% block content %}
<div class="container-fluid align-items-center rounded-4 vh-100 p-4">
    
    <h2>{{ prof.name }}</h2>
    <p>{{ prof.description }}</p>
    <p>Requires Attendance: {% if prof.attendance %} Yes {% else %} No {% endif %}</p>

    <h3>Courses Taught:</h3>
    <ul>
        {% for course_id in prof.cids %}
        {% set course = courses.filter(cid=course_id).first() %}
        <li>{{ course.name }}</li>
        <a href="{{ url_for('course', course_id=course.cid) }}">View Details</a>
    {% endfor %}
    </ul>

    <h3>Reviews:</h3>
    <ul>
        {% for review_id in prof.rids %}
            {% set review = reviews.filter(rid=review_id).first() %}
            <li>{{ review.title }}</li>
            <!-- Display the name of the associated course -->
            {% set course = courses.filter(cid=review.cid).first() %}
            <p>Course: {{ course.name }}</p>
            <p>Description: {{ review.desciption }}</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}