<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" href="{{ url_for('mainpage') }} ">
    <img class="rounded-5 ms-3" src="{{ url_for('static', filename='Images/assets/logo.png') }}" alt="Logo" width="20%" height="20%" style="border-radius: 50%;">
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex align-items-end justify-content-end " id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url_for('forum') }}"
        >Home <span class="sr-only"></span></a
      >
      <a class="nav-item nav-link" href="{{ url_for('match') }}">Match</a>
      <a class="nav-item nav-link" href="{{ url_for('taskschedule')}}">Tasks</a>
      <a class="nav-item nav-link" href="{{ url_for('calendar')}}">Calendar</a>
      <a class="nav-item nav-link" href="{{ url_for('chatbot')}}">Chat</a>
      <a class="nav-item nav-link" href="{{ url_for('upload')}}">Upload </a>
      {#<a
        class="nav-item nav-link disabled"
        href="#"
        tabindex="-1"
        aria-disabled="true"
        >Disabled</a
      >#}
    </div>
  </div>
</nav>
